.add-to-basket-popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: auto;
    max-width: 25rem;
    padding: 2rem;
    background-color: white;

    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    display: none;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: opacity ease-in-out .4s, visibility ease-in-out .4s;
}
.add-to-basket-popup.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: opacity ease-in-out .4s, visibility ease-in-out .4s;
}